{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link href="{% static 'css/output.css' %}" rel="stylesheet"> {% endcomment %}
</head>
<body>
    <div>
        <ol>
            {% for task in tasks %}
            <li>
                <span>{{task.title }}</span>
                <span> - {{task.status}}</span>
            </li>
            {% endfor %}
        </ol> 

        {% comment %} <p>{{task_count}}</p> {% endcomment %}
    </div>
</body>
</html>