{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link href="{% static 'css/output.css' %}" rel="stylesheet"> {% endcomment %}
    <title>Document</title>
</head>
<body>
    <h1 class="text-3xl">Welcome to django authentication system</h1>

    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder=" Enter your username" name='username'>
            <input type="password" placeholder=" Enter your password" name='password'>
            <button type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>