{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 class="text-3xl">Welcome to django authentication system</h1>

    <div class='w-1/2 px-2'>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-500 {% endif %} ">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button class='bg-blue-500 px-2 py-1 rounded mt-2' type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>